{% extends 'main/base.html' %} 
{% load static %} 

{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'challengeapp/css/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'challengeapp/css/mypage.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'challengeapp/css/common.css' %}"/>
{% endblock css %} 

{% block content %} 

<style>
    * {
        font-family: 'NanumSquareRound' !important;
    }

    .container {
        width: 100%
    }
</style>


<section class="page-section container font-green text-center" id="challenge">
    <div class>
        <article class>
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"></h2>
            </div>
        </article>

        <article class="my-content-article container">
            <div class="my-content">
                <div class="my-title">
                    <div class="my-img-b">
                        {{ activity.activity_img }}
                        <img class="my-img" src="{% static 'challengeapp/img/badge.png' %}" alt="?">
                        <div class="my-exp">
                          <h4>{{challenge.challenge_name}}challenge_name</h4>
                          <p>challenge_introduction</p>
                          <br>
                          <p>{{activity.activity_date}}activity_date</p>
                        </div>
                      </div>
                </div>

                <div>
                    <p class="drop-p">Challenge</p>
                </div>
                <!-- 드롭다운 -->
                <!-- <div class="container dropdown drop">
                    <button class="dropbtn btn btn-default dropdown-toggle">my activity</button>
                    <div class="dropdown-content">
                        {% for activity in activity.all %}
                        <a href="{% url 'mysearch' activity.id %}"></a>
                        {% endfor %}
                        <ul>
                            <li>과연</li>
                            <li>될까</li>
                        </ul>
                    </div>
                </div> -->

                <!-- new 드롭다운 -->
                <div class="container d-down drop">
                    <button class="d-btn">My activity</button>
                    <div class="d-con">
                      <a href="#">activity.name1</a>
                      <a href="#">activity.name2</a>
                      <a href="#">activity.name3</a>
                    </div>
                </div>

                <div class="container">
                    <div class="appletree">
                        <img class src="{% static 'challengeapp/img/mypage-tree.png' %}" alt="tree">
                    </div>
                    
                </div>


            </div>
        </article> 

        <!-- mypage, badge, activity가 사용하는 aside -->
        <article class="aside-article">
            <div class="my-aside">
                <div class="my">
                    <img class="aside-profile" src="{% static 'challengeapp/img/profile.png' %}" alt="{{user.nickname}}">
                    <p class="my-aside-p">{{ user.nickname }}user.nickname</p>
                </div>
                <hr class="my-aside-hr">
                <div class="my-aside-b">
                    <button type="button" class="my-aside-btn">Profile</button>
                    <button type="button" class="my-aside-btn">Quiz note</button>
                    <button type="button" class="my-aside-btn">Badge</button>
                    <button type="button" class="my-aside-btn">Activity</button>
                </div>
            </div>
        </article>
    </div>
</section>


{% endblock %}